*{
  font-family: 'Montserrat';
  text-align: center;
  color: white;
}

body{
  background-color: black;
  overflow-x: hidden;
}

footer{
  position: absolute;
  top: 250vh;
  left: 0;
  right: -2vw;
  background-image: radial-gradient( circle farthest-corner at 90.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
}

h1{
  font-size: 250%;
}

p{
  padding: 1vw;
  font-size: 1.25em;
}

table{
  margin: auto;
  margin-bottom: 5vh;
}

td{
  width: 10vw;
}

/*---------ID's--------*/

#cabecera{
  width: 90%;
}

#circle1{
  width: 1vh;
  height: 1vh;
  background: white;
  border-radius: 25px;

  position: relative;
  right: .5vh;
  bottom: .5vh;
}

#circle2{
  width: 1vh;
  height: 1vh;
  background: white;
  border-radius: 25px;

  position: relative;
  bottom: 1.5vh;
  left: 9.5vw;
}

#circle3{
  width: 1vh;
  height: 1vh;
  background: white;
  border-radius: 25px;

  position: relative;
  bottom: 2.5vh;
  left: 19.5vw;
}

#circle4{
  width: 1vh;
  height: 1vh;
  background: white;
  border-radius: 25px;

  position: relative;
  bottom: 3.5vh;
  left: 29.5vw;
}

#descripcion{
  margin-top: -2vh;
}

#foot{
  margin-left: -5vw;
}

#foto{
  height: 15vw;
  width: 15vw;
  border-radius: 50%;

  margin-top: 5vh;
}

#hackupc{
  text-decoration: none;
  color:black;
  transition: color .2s;
}

#hackupc:hover{
  color: white;
}

#linia{
  width: 60%;
  height: .1vw;
  background: white;
  margin: auto;
  margin-bottom: 5vh;
}

#linkedin{
  right:12vw;
}

#linkCV{
  text-decoration: none;
  font-weight: bolder;
}

#linkCV:hover{
  color: black;
}

#linkGithub{
  right:17vw;
}

#linkMail{
  right: 7vw;
}

#nombre{
  margin-top: 8vh;
}

#paragrafo1{
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  border-radius: 10px;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 23vw;
  z-index: 2
}

#paragrafo2{
  background-image: radial-gradient( circle farthest-corner at 90.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  border-radius: 10px;
  width: 50vw;
  position: absolute;
  top: 100vh;
  left: 23vw;
  z-index: 2;
}

#paragrafo3{
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  border-radius: 10px;
  width: 50vw;
  position: absolute;
  top: 170vh;
  left: 23vw;
  z-index: 2;
}

#tableYears{
  margin-top: -5vh;
}

#textoP1{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: -3vh;
}

/*------CLASES-------*/

.icons{
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
}

.iconsImages{
  height: 3.5vw;
  width: 3.5vw;
  transition: width 0.5s, height 0.5s;
}

.iconsImages:hover{
  height: 4.2vw;
  width: 4.2vw;
}

.skillsImages{
  height: 7vw;
  width: 7vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vh;
  transition: opacity 0.5s;
}

.skillsImages:hover{
  opacity: 0;
}

.star0 {
  height: 1px;
  width: 1px;
  opacity: 1;
  position: absolute;
}

.star1 {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star2 {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.star3 {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.starBiene1 { /*Este es el tamaño que se utiliza*/
  background-image: url('Images/biene.png');
  background-size: 2vw 2vw;
  height: 2vw;
  width: 2vw;
  opacity: 1;
  position: absolute;
  transition: background-size .5s, height .5s, width .5s;
}

.starBiene1:hover{
  background-size: 4vw 4vw;
  height: 4vw;
  width: 4vw;
}

.tdHeader{
  width:50%;
}

/*--------------------------------MEDIA QUERIES---------------------------------*/
/*Dimensiones del diseño base son: 1920x1080 (Full HD)

/*Pantallas HD*/
@media only screen and (max-height: 864px){
  #paragrafo1{
    top: 15vh;
  }
  #paragrafo2{
    top: 105vh;
  }
  #paragrafo3{
    top:175vh;
  }

}
/*Moviles (No esta acabado yet)*/
@media only screen and (max-width: 600px){
  #paragrafo1{
    left: 13vw;
    width: 70vw;
  }

  #paragrafo2{
    left: 13vw;
    width: 70vw;
    top: 140vh;
  }

  #paragrafo3{
    left: 13vw;
    width: 70vw;
    top: 315vh;
  }

  footer{
    top: 400vh;
  }

  .skillsImages{
    display: block;
    height: 25vw;
    width: 25vw;
    margin-left:22.5vw;
  }
}
